/* CSS files add styling rules to your content */

body {
  margin: 2em;
}

h1 {
  font-family: "Raleway";
  text-align: center;
  background-color: #9C7A9E;
  padding: 20px;
  border-radius: 20px;
  border: solid;5px;gray;
}

h2 {
  font-family: "Montserrat";
  text-align: center;
  margin-top: 2em; 
}

.question {
  display: flex;
  margin-top: 2em;
}
  
.answer-choice img {
  height: 10em;
  border-radius: 30px;
  border: outset; 5px; 
}

.question{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

button{
  font-family: "Raleway";
  cursor: pointer;
  border: none;
  border-radius: 20px;
  padding: 10px;
}

#q1a1, #q2a1, #q3a1{
  margin-left: 45px;
  background-color: #ABC8FF;
}

#q1a2, #q2a2, #q3a2{
  margin-left: 55px;
  background-color: #97D97E ;
}

#q1a3{
  margin-left: 55px;
  background-color: #E67A7A;
}

#q2a3{
  background-color: #E67A7A;
}

#q3a3{
  margin-left: 80px;
  background-color: #E67A7A;
}

#q1a4{
  background-color: #FFD765;
}

#q2a4{
  margin-left: 15px;
  background-color: #FFD765;
}

#q3a4{
  margin-left: 60px;
  background-color: #FFD765;
}

button:hover{
  opacity: 80%
}

.result{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #D4D4D4;
  border-radius: 20px;
  margin-top: 40px;
  font-style: italic;
}

#restart{
  font-size: 2em;
  background-color: #FF5A5A;
}

a:link, a:visited{
  color: white;
  text-decoration: none;
}
























